{{> layout/header}}

<body>

<div class="container">
    <h1 class="pt-md-5 pb-md-5">Trainers</h1>

    <div class="card-deck">
        {{#trainerTypes}}
        <div class="col-md-3">
            <div class="card shadow-sm mb-3">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">{{name}}
                        <span>       </span>
                        <a href="trainers/{{name}}" class="btn btn-primary">Voir</a>
                        <a href="fight/{{name}}" class="btn btn-primary">Fight</a>
                    </h4>
                </div>
                {{#team}}
                <div class="card-body">
                    <img class="card-img-top" src="{{sprites.front_default}}" alt="Pokemon Front"/>
                    <span class="badge badge-primary">Id : {{pokemonTypeId}}</span>
                    <span class="badge badge-primary">Level : {{level}}</span>
                </div>
                {{/team}}
            </div>
        </div>
        {{/trainerTypes}}
    </div>

</div>

</body>
</html>